version: "3.9"

services:
  # Frontend React app
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: frontend_app
    ports:
      - "5173:5173"
    depends_on:
      - json_step1
      - json_step2
    environment:
      - VITE_API_URL=http://localhost
    restart: unless-stopped

  # Mock API 1 (Step 1)
  json_step1:
    image: node:20.19-alpine
    working_dir: /app
    volumes:
      - ./db/db-step1.json:/app/db.json
    command: >
      sh -c "npm install -g json-server && json-server --watch db.json --port 4001 --host 0.0.0.0"
    ports:
      - "4001:4001"
    restart: unless-stopped

  # Mock API 2 (Step 2)
  json_step2:
    image: node:20.19-alpine
    working_dir: /app
    volumes:
      - ./db/db-step2.json:/app/db.json
    command: >
      sh -c "npm install -g json-server && json-server --watch db.json --port 4002 --host 0.0.0.0"
    ports:
      - "4002:4002"
    restart: unless-stopped
